$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import './app/bower_components/sass-bootstrap/lib/bootstrap';

::-webkit-scrollbar {
  width: 5px;
  height: 13px;
}

::-webkit-scrollbar:hover {
  height: 18px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  display: none;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

::-webkit-scrollbar-thumb:vertical {
  height: 50px;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #4d4d4d), color-stop(100%, #333333));
  border: 1px solid #0d0d0d;
  border-top: 1px solid #666666;
  border-left: 1px solid #666666;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:horizontal {
  width: 50px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4d4d4d), color-stop(100%, #333333));
  border: 1px solid #1f1f1f;
  border-top: 1px solid #666666;
  border-left: 1px solid #666666;
  border-radius: 4px;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    height:100%;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

div.row>div {
    margin-bottom: 1.5em;
}

#messages, #people {
    padding: 0;
    max-height: 18em;
    overflow-y: auto;
    overflow-x: hidden;
}

.header > h3 {
    display: inline-block;
}

#dropzone {
    position: relative;
    height:90%;
    top: 5%;
    margin: 0 1em;
    display: none;
    float:right;
    z-index:100;
}

#dropzone {
    .dz-success-mark, .dz-error-mark, .dz-error-message {
        display: none;
    }
    .dz-details {
        display: inline-block; 
        float: left;
        padding: 0.5em;
    }
    overflow: hidden;
}

#dropzone:empty {
    text-align: center;
    display: inline-block;
}

#dropzone:empty::before {
    content: 'Drag files to upload.';
    font-size:1.5em;
}

.input-group-addon.glyphicon {
    top: 0;
}

body.dropMe {
    #dropzone {
        display: block;
        -webkit-filter: none;
        pointer-events: auto;
        width:90%;
        left: 5%;
        position:absolute;
        background: rgba(50,50,50,0.3);
    }

    .container {
        -webkit-filter: blur(2px);
        pointer-events: none;
    }

}

#videolayer {
    position:absolute;
    background: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 100;
}

body.video {
    #videolayer {
        display:block;
    }

    #dropzone {
        display: none;
    }

    .container {
        -webkit-filter: blur(2px);
        pointer-events: none;
    }
}

.hidebegin {
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

body.hidebeginbody .hidebegin {
    opacity: 0;
}

#videolayer > video {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  padding:0;
  width:800px;
  height:auto;
  max-height: 100%;
  max-width: 100%;
}

#closevideo {
  position: absolute;
  top: 4%; right: 4%;
  font-size: 3em;
  color: white;
  text-shadow:0px 0px 8px #000000;
  z-index: 200;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
